{{#section 'js'}}
    <script>
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        function toTimeZone(date, zone, type='en-US'){
            return new Date((typeof date === "string" ? new Date(date) : date).toLocaleString(type, {timeZone: zone}));
        }
        var start = toTimeZone(document.getElementById('start').innerHTML, timezone).toString();
        var expire = toTimeZone(document.getElementById('expire').innerHTML, timezone).toString();

        start = start.substring(0, start.length - 25);
        expire = expire.substring(0, expire.length - 25);

        document.getElementById('start').innerHTML = start;
        document.getElementById('expire').innerHTML = expire;

        var bidTimes = document.getElementsByClassName('bid-time');
        for(let time of bidTimes){
            time.innerHTML = toTimeZone(time.innerHTML, timezone,'en-GB').toString();
            time.innerHTML = time.innerHTML.substring(0, time.innerHTML.length - 25);
        }
    </script>
    <script>
        $('#bidForm').on('submit', function (e) {
		e.preventDefault();
        var biddingprice = +$('input[name=bid]').val();

        if(biddingprice < {{this.itemData.step}} + {{this.highestBidder.amount}}){
            alert('Each bidding price must be greater than step price: {{this.itemData.step}}VNĐ!');
            return;
        }else if(biddingprice > {{this.itemData.maximumPrice}}){
            alert('You should buy this item with: {{this.itemData.maximumPrice}}VNĐ instead!');
            return;
        }
        else{
            $('#bidForm').off('submit').submit();
        }
        })
    </script>
{{/section}}
<head>
    <style>
            body {
                margin: 0;
                padding-right: 0;
                background: linear-gradient(135deg, #71b7e6, #69a6ce,#b98acc) repeat fixed;
                height: 100vh;
            }
            .box{
                position: relative;
                padding-top: 1em;
                padding-left: 40px; padding-right: 40px;
                left: 15.5%;
                width: 70%;
                background: white;
                box-shadow: 0 0 8px rgba(0,0,0,0.2);
            }
            .top_container img{
                width: 100%;
            }
            .top_container .generalInf, .biddingPart{
                width: 100%;
            }
            .top_container .generalInf span,
            .top_container .biddingPart span{
                font-weight: 500;
                margin-right: 5px;
                font-size: 17px;
            }
            .top_container .generalInf p,
            .top_container .biddingPart p{
                font-size: 17px;
            }
            .top_container .biddingPart button{
                border-radius: 10px; 
                border: none; 
                background: #384aeb; color: white;
                font-weight: 500;
                width: 30%; height: 40px;
                cursor: pointer;
            }
            .top_container .biddingPart button:hover{
                background: white; color: #384aeb;
                border: 2px solid #384aeb;
            }
            .mid_container{
                margin-top: 20px;
            }
            .mid_container .DescriptionInf{
                width: 100%;
                margin: 0;
            }
            .mid_container .DescriptionInf span{
                font-weight: 500;
                margin-right: 5px;
                font-size: 17px;
            }
        </style>
    </head>
 
<body>
    <div class="box">
        <div class="top_container">
            <div class="row" style="margin-top: 25px;">
                <div class="col-lg-6">
                    <div id="slideImgs" class="carousel carousel-dark slide" data-bs-ride="carousel"
                        style="box-shadow: 0 0 4px rgba(0,0,0,0.2);">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{this.mainImage}}">
                            </div>
                            {{#each this.images}}
                            <div class="carousel-item">
                                <img src="{{this}}">
                            </div>
                            {{/each}}
                        </div>
                        {{#if pluralImages}}
                        <button class="carousel-control-prev" type="button"
                            data-bs-target="#slideImgs" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            data-bs-target="#slideImgs" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        {{/if}}
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 style="font-weight: bold; margin-bottom: 20px;">{{this.itemData.name}}</h2>
                    <div class="generalInf" style="display: inline-flex;">
                        <span>Purchase price:</span>
                        <p style="font-weight: 700;">{{this.itemData.maximumPrice}} VNĐ</p>
                    </div>
                    <div class="generalInf" style="display: inline-flex;">
                        <span>Current highest price:</span>
                        <p>{{this.highestBidder.amount}} VNĐ</p>
                    </div>
                    <div class="generalInf" style="display: inline-flex;">
                        <span>Step:</span>
                        <p>{{this.itemData.step}} VNĐ</p>
                    </div>
                    <div class="generalInf" style="display: inline-flex;">
                        <span>Date Start:</span>
                        <p style="font-weight: 700;" id='start'>{{this.itemData.postedTime}}</p>
                    </div>
                    <div class="generalInf" style="display: inline-flex;">
                        <span>Date End:</span>
                        <p style="font-weight: 700" id='expire'>{{this.itemData.expireTime}}</p>
                    </div>
                    <div class="generalInf" style="display: inline-flex;">
                        <span>Time left: </span>
                        <p style="color: rgb(240, 22, 22); font-weight: 700" class='timer'>{{this.itemData.expireTime}}</p>
                    </div>
                    <div class="generalInf" style="display: inline-flex;">
                            <span>Seller:</span>
                            <a href="/account?username={{this.itemData.seller}}" style="text-decoration: none;">
                                <p>{{this.itemData.seller}}</p>
                            </a>
                    </div>
                    <div class="generalInf" style="display: inline-flex;">
                        <span>Price holder:</span>
                        <p>{{this.highestBidder.user}}</p>
                    </div>
                    <div class="biddingPart">
                        <span>Your bid:</span>
                        <form id="bidForm" method="post">
                            <input name="bid" type="number" required 
                            style="border-radius: 10px; width: 30%; text-align: center; margin-right: 10px;"
                            min="{{this.highestBidder.amount}}">
                            <button type="submit">Bid</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mid_container">
            <h4>Description:</h4>
            <div class="DescriptionInf" style="display: inline-flex;">
                <span>Category:</span>
                <a href='/categories/{{this.itemData.category}}/{{this.itemData.subcategory}}/1'>{{this.itemData.category}}: {{this.itemData.subcategory}}</a>
            </div>
            <div class="DescriptionInf" >
                <span>Detail:</span>
                <p>{{{this.itemData.description}}}</p>
            </div>
            {{#if pastBids}}
            <div class="DescriptionInf">
                <span>Bidders list:</span>
                <table class="table table-bordered" style="width: 50%; border: 2px">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Bidder</th>
                            <th scope="col">Bidding price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each pastBids}}
                            <tr>
                                <td class='bid-time' >{{this.time}}</td>
                                <td>
                                    {{#if ../this.authUser.isOwner}}
                                    <a href="/account?username={{this.user}}" style="text-decoration: none;">
                                        {{this.user}}
                                    </a>
                                    {{else}}
                                    {{this.user}}
                                    {{/if}}
                                </td>
                                <td>{{this.amount}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{/if}}
        </div>
            
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>
