<head>
    <style>
        body {
            margin: 0;
            padding-right: 0;
            background: linear-gradient(135deg, #71b7e6, #69a6ce,#b98acc) repeat fixed;
            height: 100vh;
            }
        .box{
            position: absolute;
            padding-left: 40px; padding-right: 40px;
            left: 15.5%;
            width: 70%; height: 100vh;
            background: white;
            box-shadow: 0 0 8px rgba(0,0,0,0.2);
        }
        .pointfield{
            display: inline-flex;
            width: 100%;
        }
        .pointfield span{
            font-weight: 400;
            margin-right: 10px;
            font-size: 17px;
        }
    </style>
</head>

<body>
    <div class="box">
        <div class="row mt-5">
            <div class="col-sm-3">
                <div class="card">
                    <h4 class="card-header">
                        Profile menu
                    </h4>
                    <div class="list-group list-group-flush">
                        <a id="MenunotAtive" href="/account?username={{this.info.username}}" class="list-group-item list-group-item-action">
                            Information
                        </a>
                        <a href="javascript:window.location.reload(true)" class="list-group-item list-group-item-action active" aria-current="true">
                            Reviews
                        </a>
                        {{#if this.info.isSelf}}
                            <a id="MenunotAtive" href="/account/change-pwd?username={{this.info.username}}" class="list-group-item list-group-item-action">
                                Change password
                            </a>
                        {{/if}}
                        <a id="MenunotAtive" href="/account/fav?username={{this.info.username}}" class="list-group-item list-group-item-action">
                            Watch list
                        </a>
                        <a id="MenunotAtive" href="/account/bought?username={{this.info.username}}" class="list-group-item list-group-item-action">
                            Won items
                        </a>
                        {{#if this.info.isSeller}}
                            <a id="MenunotAtive" href="/account/sell?username={{this.info.username}}" class="list-group-item list-group-item-action">
                                Selling
                            </a>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-sm-9 mb-3">
                <div class="card">
                    <h4 class="card-header">
                        Your Point
                    </h4>
                    <div class="card-body">
                        <div class="pointpart">
                            <div class="pointfield">
                                <span>Positive point:</span>
                                <p style="color: rgb(84, 206, 84); font-weight: 500;">{{info.upvoteCount}}</p>
                            </div>
                            <div class="pointfield">
                                <span>Negative point:</span>
                                <p style="color: rgb(247, 73, 67); font-weight: 500;">{{info.downvoteCount}}</p>
                            </div>
                            <div class="pointfield">
                                <span>Overall:</span>
                                <p style="color: rgb(247, 73, 67); font-weight: 500;">{{info.percentVote}}%</p>
                            </div>
                        </div>

                        <div class="reviewpart" style="margin-top: 5%;">
                            <h5 style="margin-bottom: 20px;">Reviews</h5>
                            <div class="card" style="height: 250px;">
                                <div class="card-body" style="height: 100%; overflow: auto;">
                                    {{#each reviews}}
                                    <div class="row" style="align-items: center;">
                                        <div class="col-md-3 mt-2">
                                            <a href="/account?username={{this.user}}" style="text-decoration: none; font-weight: 500;">
                                                {{this.user}}
                                            </a>
                                        </div>
                                        <div class="col-md-8 mt-2">
                                            {{#if this.upvote}}
                                                <i class="fa fa-thumbs-up"></i>
                                            {{else}}
                                                <i class="fa fa-thumbs-down"></i>
                                            {{/if}}
                                            <div style="display: inline-flex; width: 100%;">
                                                <p>{{this.review}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>