<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            {{authUser.name}}
        </div>
        <div class="col-6">
            {{authUser.email}}
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-3">
            {{authUser.totalVote}}
        </div>
        <div class="col-3">
            {{authUser.upvoteCount}}
        </div>
        <div class="col-3">
            {{authUser.downvoteCount}}
        </div>
    </div>
</div>