<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            {{this.info.name}}
        </div>
        <div class="col-6">
            {{this.info.email}}
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-3">
            {{this.info.totalVote}}
        </div>
        <div class="col-3">
            {{this.info.upvoteCount}}
        </div>
        <div class="col-3">
            {{this.info.downvoteCount}}
        </div>
    </div>
</div>