<head>
	<style>
		.card-product .img-wrap {
			border-radius: 3px 3px 0 0;
			overflow: hidden;
			position: relative;
			height: 220px;
			text-align: center;
		}
		.card-product .img-wrap img {
			max-height: 100%;
			max-width: 100%;
			object-fit: cover;
		}
		.card-product .info-wrap {
			overflow: hidden;
			padding: 15px;
			border-top: 1px solid #eee;
		}
		.card-product .bottom-wrap {
			padding: 15px;
			border-top: 1px solid #eee;
		}

		.label-rating { margin-right:10px;
			color: #333;
			display: inline-block;
			vertical-align: middle;
		}

		.desc {
			text-overflow: ellipsis;
			max-width: 10em;
			height: 3em;
			overflow: hidden;
			white-space: nowrap;
			margin-bottom: 0%;
		}
		
		.groupTitle {
			display: flex;
			justify-content: center;
			margin-top: 3em;
			margin-bottom: 3em;
		}
	</style>
</head>

<br>
<div class="groupTitle">
	<h1>Almost finish</h1>
</div>
<div class="container">
	<div class="row">
		{{#each items.almostFinish}}
		<div class="col">
			<a href="/item/{{this.id}}" style="text-decoration: none; color: black">
				<figure class="card card-product">
					<div class="img-wrap"><img src="{{this.mainImage}}"></div>
					<figcaption class="info-wrap">
						<h4 class="title">{{this.name}}</h4>
						<p class="desc">{{{this.description}}}</p>
					</figcaption>
					<div class="bottom-wrap">
						<div class="">Time left: <span class="timer">{{this.expireTime}}</span></div>
						<div class="price-wrap h5">
							<span class="price-new"><i class="fa fa-usd"></i> {{this.price}} VNĐ</span>
						</div> <!-- price-wrap.// -->
					</div> <!-- bottom-wrap.// -->
				</figure>
			</a>
		</div> <!-- col // -->
		{{/each}}
	</div> <!-- row.// -->
</div> 
<!--container.//-->
<hr>

<br>
<div class="groupTitle">
	<h1>Popular</h1>
</div>
<div class="container">
	<div class="row">
		{{#each items.almostFinish}}
		<div class="col">
			<a href="/item/{{this.id}}" style="text-decoration: none; color: black">
				<figure class="card card-product">
					<div class="img-wrap"><img src="{{this.mainImage}}"></div>
					<figcaption class="info-wrap">
						<h4 class="title">{{this.name}}</h4>
						<p class="desc">{{{this.description}}}</p>
					</figcaption>
					<div class="bottom-wrap">
						<div class="">Time left: <span class="timer">{{this.expireTime}}</span></div>
						<div class="price-wrap h5">
							<span class="price-new">{{this.price}}</span>
						</div> <!-- price-wrap.// -->
					</div> <!-- bottom-wrap.// -->
				</figure>
			</a>
		</div> <!-- col // -->
		{{/each}}
	</div> <!-- row.// -->
</div>
<!--container.//-->
<hr>

<br>
<div class="groupTitle">
	<h1>Highest bidded</h1>
</div>
<div class="container">
	<div class="row">
		{{#each items.almostFinish}}
		<div class="col">
			<a href="/item/{{this.id}}" style="text-decoration: none; color: black">
				<figure class="card card-product">
					<div class="img-wrap"><img src="{{this.mainImage}}"></div>
					<figcaption class="info-wrap">
						<h4 class="title">{{this.name}}</h4>
						<p class="desc">{{{this.description}}}</p>
					</figcaption>
					<div class="bottom-wrap">
						<div class="">Time left: <span class="timer">{{this.expireTime}}</span></div>
						<div class="price-wrap h5">
							<span class="price-new">{{this.price}}</span>
						</div> <!-- price-wrap.// -->
					</div> <!-- bottom-wrap.// -->
				</figure>
			</a>
		</div> <!-- col // -->
		{{/each}}
	</div> <!-- row.// -->
</div>
<!--container.//-->
<br>
<br>

<script>
	var spans = document.getElementsByClassName("timer");
	
	for (let span of spans) {
		span.expireTime = new Date(span.innerText);
	}

	// Update the count down every 1 second
	var x = setInterval(function() {
		var now = Date.now();

		for (let span of spans) {
			var distance = span.expireTime - now;

			if (!distance)
				distance = -1;

			if (distance < 0) {
				span.innerHTML = "Expired";
			}
			else {
				// Time calculations for days, hours, minutes and seconds
				var days = Math.floor(distance / (1000 * 60 * 60 * 24));
				var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
				var seconds = Math.floor((distance % (1000 * 60)) / 1000);

				// Display the result in the element with id="demo"
				span.innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
			}
		}
	}, 1000);
</script>
